html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    /* background-image: url("img/uno.jpg"); */
    /* background-size: cover; */
    word-break: break-word;
    max-width: 100%;
}

.wrapper-topbar {
 position: sticky;
 height: 0px;
 top: -3vh;
 z-index: 100;
 transition: 0.6s;
}

#navbar {
    background-color: rgb(27, 27, 27);
    height: 12vh;
}

.list {
    margin: 0 30px;
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-end;
}

.element-list {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin: 10px 10px ;
    padding: 0px 0px;
    color: rgb(221, 221, 221);
    cursor: pointer;
    user-select: none;
    border-radius: 15px;
}
.element-list a {
    z-index: 300;
    padding: 10px 20px;
}

.element-list a:link {
    text-decoration: none;
    color: white;
}
.element-list a:visited {
    text-decoration: none;
    color: white;
}

.element-list a:hover {
    content: ' hola';
    color: rgb(221, 221, 221);
    background-color:rgb(41, 41, 41);
    transition: 0.5s;
}

ul li a::after {
    content: " ";
    color: black;
    background-color:rgba(255, 255, 255, .9);
    transition: 0.5s;
}

.img-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("img/dos.jpg");
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    height: 101vh;
    box-sizing: border-box;
}
.mark {
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    margin: 500px 0px 0 15%; 
    color: white;
    position: sticky;
    top: 2vh;
    z-index: 200;
}
.front {
    width: 22%;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 3px;
    margin: 0 0px 0 15%; 
    color: white;
    position: relative;
    top: 35vh;
    left: 30%;
    z-index: 200;
}


.img-front p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
    align-self: center;
    position: relative;
    top: 35vh;  
    left: 12%;
    bottom: 45vh;
}
.img-front p::after {
    content: " ";
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 30px;
    right: 00px;
    transition: 0.6s;
}
.grid {
    width: 100%;
    margin-top: 50px;
    display: inline-grid;
    grid-template-columns: [col-1-inicio] 1fr [col-2-inicio] 1fr [col-3-inicio] 1fr [col-4-fin];
    grid-template-rows: [row-1-inicio] 1fr [row-2-inicio] 1fr [row-3-inicio] 0px [row-4-fin];
    grid-gap: 15px;
    z-index: 50;
}

.grid-element {
    margin: auto;
    
    /* border: 1px solid #ccc; */
    border-radius: 80px;
    padding: 20px;
    text-align: center;
    max-height: 50vh;
}

.title-grid {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: rgb(88, 88, 88);
}

.img-grid1 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    transition: 0.4s;
}

.img-grid1:hover {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    cursor: pointer;
}

#nosotros {
    transition: 2s;
}
