html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    word-break: break-word;
    max-width: 100%;
}

.wrapper-topbar {
 position: sticky;
 height: 0px;
 top: -3vh;
 z-index: 100;
 transition: 0.6s;
}

#navbar {
    background-color: rgb(27, 27, 27);
    height: 12vh;
}

.list {
    margin: 0 30px;
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-end;
}

.element-list {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin: 10px 10px ;
    padding: 0px 0px;
    color: rgb(221, 221, 221);
    cursor: pointer;
    user-select: none;
}
.element-list a {
    z-index: 300;
    padding: 10px 20px;
    border-radius: 16px;
}

.element-list a:link {
    text-decoration: none;
    color: white;
}
.element-list a:visited {
    text-decoration: none;
    color: white;
}

.img-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("img/dos.jpg");
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    height: 101vh;
    box-sizing: border-box;
    user-select: none;
}
.mark {
    width: 50%;
    text-shadow: 3px 3px rgb(27, 27, 27);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    margin: -20vh 0px 0 15%; 
    color: white;
    position: sticky;
    top: 1.8vh;
    z-index: 200;
    user-select: none;
}
.front {
    width: 22%;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 3px;
    margin: 0 0px 0 15%; 
    color: white;
    position: relative;
    top: 2vh;
    left: 30%;
    z-index: 200;
}
.img-front p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
    align-self: center;
    position: relative;
    top: 2vh;  
    left: 15%;
    bottom: 45vh;
}
.img-front p::after {
    content: " ";
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 30px;
    right: 00px;
    transition: 0.6s;
}
.grid {
    width: 100%;
    height: 120vh;
    margin-top: 50px;
    padding-top: 0vh;
    display: grid;
    grid-template-columns:  .1fr 1fr [col-1-inicio] 1fr [col-2-inicio] 1fr [col-3-inicio] .1fr [col-4-fin];
    grid-template-rows: [row-1-inicio] 4fr [row-2-inicio] 0fr [row-3-inicio] 0 [row-4-fin];
    grid-gap: 20px;
    z-index: 50;
}

.grid-element {
    margin: auto;
    height: 100%;
    border-radius: 80px;
    padding: 20px;
    text-align: center;
    max-height: 50vh;
    position: relative;
    top: -100px;
}

.grid-element:hover {
    transition: 0.8s 0.1s;
    transition-duration: 1s;
    transform: scale(1.1);
    border-radius: 100%;
    /* cursor: pointer; */
    background-color: rgb(249, 249, 249);
}

.title-grid {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: rgb(88, 88, 88);
}

.img-grid1 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

/* .img-grid1:hover {
    transition: 0.8s;
    transition-duration: 0.8s;
    width: 220px;
    height: 220px;
    cursor: pointer;
} */

.desc-grid {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
}

#nosotros {
    transition: 2s;
}
footer {
    height: 100px;
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: center;
}

footer span {
    margin-top: 50px;
    color: white;
    font-family: "Arial", sans-serif;
    text-align: center;
    font-size: 12px;
}


/* RESPONSIVE */

@media only screen and (max-width: 780px) {
    .wrapper-topbar {
        position: fixed;
        z-index: 100;
        width: 100%;
       }
}

@media only screen and (max-width: 780px) {
    .list {
        margin: 0 10px;
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 780px) {
    .front {
        font-size: 35px;
        margin: 0;
        padding: 0;
        width: 70%;
        position: relative;
        left: 70px;
        top: -70px
    }
}

@media only screen and (max-width: 780px) {
    .img-front p {
        font-family: "Montserrat", sans-serif;
        width: 60%;
        font-weight: 300;
        font-size: 16px;
        align-self: center;
        position: relative;
        top: -40px;  
        left: 10%;
        bottom: 45vh;
    }
}

@media only screen and (max-width: 780px) {
    .img-front p::after {
        content: " ";
        display: inline-block;
        width: 100px;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 50px;
        right: 10px;
        transition: 0.6s;
    }
}

@media only screen and (max-width: 780px) {
    .grid-element {
        display: none;
    }
}

